.about-page{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: justify;
    gap: 3rem;
}
.about-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    background: url(../assets/img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem;
}

.about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
    background: rgba(255, 255, 255, .05);
}

.about-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

.about-description {
    font-size: 1.2rem;
    width: 90%;
}

.description{
    font-size: 1.2rem;
}

.hero-text-about {
    font-size: 1rem;
}

.misssions-a{
    padding-top: 3rem;
    width: 380px;
    position: relative;
    left: 10rem;
}