* {
    margin: 0;
    padding: 0;box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
}

:root {
    --body-color: #000000;
    --dark-body-color: #14092A;
    --text-color: #D1C0F1;
    --header-color:#D1C0F1;
    --gradient-color: linear-gradient(to right, #6366f1, #8b5cf6, #d946ef);
    --text-btn-color: #8b5cf6;
    --drop-color: #FFFFFF;
    --title-color:#D1C0F1;

}

/* Variables de tema oscuro */
body.dark-theme {
    --gradient-color: linear-gradient(to right, #f19e20, #ff8000, #f78851);
    --first-color-light: #1E0849;
    --first-color-dark: #14092A;
    --title-color: #ff8000;
    --text-color: #FFFFFF;
    --text-color-light: #A094B8;
    --white-color: #14092A;
    --body-color: #14092A;
    --container-color: #372A51;
    --dark-title-color: #220953;
    --dark-text-color: #220953;
    --dark-body-color: #000000;
    --dark-container-color: #FFFFFF;
    --text-btn-color: #ff8000;
    --header-color:#ff8000;
}

body {
    background-color: var(--dark-body-color);
    color: var(--text-color);
    /* background-repeat: no-repeat;
    background-size: cover; */
}

/*================START HEADER OR NAVEGATION================*/
header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: var(--dark-body-color);
    background-repeat: no-repeat;
    
}

.logo {
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    color: var(--text-color);
}

.logo img {
    max-height: 50px;
    vertical-align: middle;
}

.logo-text {
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    vertical-align: middle;
}


.nav-list {
    display: flex;
}

.nav-list a{
    color: var(--header-color);
    margin-left: 60px;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}

.nav-list a:hover {
    color: var(--drop-color);
}

.drop {
    cursor: pointer;
}

.bx-chevron-down {
    position: relative;
    top: 4px;
    
}

.dropdown-menu {
    display: none; 
    position: absolute;
    top: 80px;
    right: 42%; 
    background: url(../assets/img/hero-bg.jpg);
    
}

.dropdown-menu a {
    display: block;
    padding: 8px ;
    color: var(--header-color);
    text-decoration: none;
}

.dropdown-menu.active {
    display: block;
}
.icons {
    display: flex;
    justify-content: center;
    align-items: center;
}
#theme-moon {
    position: relative;
    top: 2px;
    left: 0.5rem;
    color: var(--header-color);
    font-size: 1.5rem;
    z-index: 10001;
    cursor: pointer;
    padding-right: 1rem;
}

#theme-sun {
    position: relative;
    top: 2px;
    left: 0.5rem;
    color: var(--header-color);
    font-size: 1.5rem;
    z-index: 10001;
    cursor: pointer;
    padding-right: 1rem;
    display: none;
}

#menu-icon {
    color: var(--header-color);
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
/*================END HEADER OR NAVEGATION================*/


/*================START BANNER INFORMATION OR FIRST SECTION================*/
.hero {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    /* background: linear-gradient(245.59deg, #6366f1 0%, #01021d 28.53%, #020b35 75.52%); */
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
    
}

section {
    padding: 0 16%;
}

.hero-text h5 {
    font-size: 25px;
    font-weight: 400;
    color: var(--text-color);
    margin-bottom: 40px;
}

.hero-text h3, h2, h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    line-height: 1;
    color: var(--text-color);
    margin: 0 0 15px;
}

.hero-text-gradient {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0,0,0,0);
}

.hero-text-p {
    display: block;
    color: var(--text-color);
    font-size: 1.125rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
}
  /* .hero-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
} */
.hero-img img{
    width: 700px;
    height: auto;
}

.btn {
    display: inline-block;
    background: var(--gradient-color);
    border: 1px solid var(--text-btn-color);
    color:var(--text-color);
    padding: 0.9rem 2rem;
    /* line-height: 1.4; */
    font-size: 1rem;
    border-radius: 0.5rem;
    transition: all 0.5s ease;
    cursor: pointer;
    font-weight: 700;
  }

  .btn:hover {
    transform: translateX(8px);
  }

  .btn-transparent {
    background-color: transparent;
    color: var(--text-color);
  }

  .btn-transparent:hover {
    background-color: var(--text-btn-color);
  }

/*================END BANNER INFORMATION OR FIRST SECTION================*/

/*================START SECOND SECTION================*/

.container {
    margin-top: 5rem!important;
    margin-bottom: 10rem;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 1rem;
    
}


.img-wrapper {
    position: relative;
}

.img-container {
    position: absolute;
    top: 0;
    left: 0; 
    width: 90%;
    height: 100%;
    object-fit: cover; 
    transition: all .3s ease;
    background: rgba(255, 255, 255, .04);
}

 .img-container:nth-child(1){
    clip-path: polygon(0 0, 0 32%, 28% 0);
    transform: translateY(-1.25rem);
}

.img-container:nth-child(2){
    clip-path: polygon(28% 0, 0 32%, 0 100%, 17% 100%, 90% 0);
    transform: translateY(-0.75rem);
}

.img-container:nth-child(3){
    clip-path: polygon(100% 0, 100% 65%, 74% 100%, 17% 100%, 90% 0);
    transform: translateY(-0.25rem);
}

.img-container:nth-child(4){
    clip-path: polygon(100% 65%, 74% 100%, 100% 100%);
    transform: translateY(0.25rem);
}

.img-wrapper:hover .img-container{
transform: translateY(0);
} 

.section-content {
    position: relative;
    top: 20px;
    right: 0;
    padding: 1rem;
}

.section-description{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6;
    margin-top: 0;
    margin-bottom: 1.25rem;
    color: rgba(255, 255, 255, 0.7);
}

/*================END SECOND SECTION================*/


/*==============================START OUR SERVICES OR THIRD SECTION===============================*/

.services {
    padding-top: 8rem;
    padding-bottom: 10rem;
    background: rgba(255, 255, 255, .05);
    text-align: center;
}

.section-title {
    font-size: 2.5rem;
    font-weight: 700;
    padding-bottom: 20px;
    color: var(--title-color);
}

.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem 1rem  ;
    padding-top: 3rem;
}

.card-wrap {
    padding: 2rem 1rem;
    background: rgba(255, 255, 255, .05);
    border: 1px solid var(--text-color);
    border-radius: 10px;
    cursor: pointer;
    text-align: start;
}

.card-wrap:hover{
    background: rgba(255, 255, 255, .05);
    border-color:rgba(255, 255, 255, .4);
    transform: translateY(-0.25rem);
    transition: transform .2s ease-in-out,border-color .2s ease-in-out,background-color .2s ease-in-out,box-shadow .2s ease-in-out;
}


.card-title {
    font-size: 1.7rem;
    color: var(--text-color);
    padding: 15px;
    color: var(--title-color);
}

.icons {
  max-width: 40%;
  height: auto;
  vertical-align: middle;
}

.links {
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 600;
}

.links:hover {
    color: var(--text-btn-color);
}

/*==============================END OUR SERVICES OR THIRD SECTION===============================*/

/*==============================START FOUNDER OR FOUR SECTION===============================*/
.founder {
    padding-top: 8rem;
    padding-bottom: 10rem;
}

.founder-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.founder-information {
    position: relative;
    top: 5rem;
    left: 0;
    text-align: justify;
}

.section-title {
    font-size: 2.5rem;
    
}

.founder-img {
    max-width: 80%;
    height: auto;
}

/*==============================END FOUNDER OR FOUR SECTION===============================*/

/*==============================STRATEGICS OR FIVE SECTION===============================*/
#section-strategy {
padding-top: 8rem;
padding-bottom: 10rem;
background: red;
text-align: center;
}

.card-strategic{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5rem;
}

.step-number{
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: #6366f1;
    
}

.step-title {
    font-size: 1.75rem;
    font-weight: 800;
    font-family: sans-serif ;
    line-height: 1.3;
    color: var(--text-color);
    margin-bottom: 1rem;
}

